<html>
    <head>
        {% if title %}
        <title>{{ title }} - Ayuda Pal Jibaro</title>
        {% else %}
        <title>Ayuda Pal Jibaro</title>
        {% endif %}
    </head>
    <body>
        <div>
            Ayuda Pal Jibaro:
            <a href="{{ url_for('home') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
              <a href="{{ url_for('signup') }}">Sign Up</a>
            {% else %}
            You are logged in as {{current_user.id}} <a href="{{ url_for('logout') }}">(Logout)</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>