<html lang="en">
<body>
<b><font size="6">Please fill out the following form to submit a request:</font></b>

<form name ="Request Product" method="post">
  <fieldset><legend><b>Request Product:</b></legend>
      Product Name: <br> <input type="text" name="r_pname" placeholder="ex. Canned Beans" required>
      <br>Quantity: <br> <input type="number" name="r_qty" placeholder="1" min="1">
      <br>Date: <br> <input type="text" name="r_date" placeholder="25012018" min="1">
      <br><br><br>
      <button type="submit">Submit</button>
  </fieldset>
</form>

<p><b>Note:</b> Please write the <i>current and correct</i> date in the specified format (ex. ddmmyyyy), all together as one string.</p>

</body>
</html>

