{% extends "base.html" %}

{% block content %}

   <form name ="Verify Product Id" method="get">
       <table style="width:50%">
          <!-- table header -->
          {% if result_list %}
          <tr>
             {% for key in result_list[0] %}
             <th> {{ key }} </th>
             {% endfor %}
          </tr>
          {% endif %}

          <!-- table rows -->
          {% for dict_item in result_list %}
          <tr>
             {% for value in dict_item.values() %}
             <td> {{ value }} </td>
             {% endfor %}
          </tr>
          {% endfor %}
       </table>
       <br>
        <fieldset><legend><b>Verify ID:</b></legend>
          Product ID: <br> <input type="number" name="p_id" placeholder="Input" required>
          <button type="submit">Verify</button>
        </fieldset> <br>
  	</form>



{% endblock %}