{% extends "base.html" %}

{% block content %}

   <b><font size="6">Resources Available</font></b>
  <br><br>
  <fieldset><legend><b>Resources Available</b></legend>
       <table style="width:50%">
          <!-- table header -->
          {% if result_list %}
          <tr>
             {% for key in result_list[0] %}
             <th> {{ key }} </th>
             {% endfor %}
          </tr>
          {% endif %}

          <!-- table rows -->
          {% for dict_item in result_list %}
          <tr>
             {% for value in dict_item.values() %}
             <td> {{ value }} </td>
             {% endfor %}
          </tr>
          {% endfor %}
       </table>
       <br>
      </fieldset> <br><br>



{% endblock %}