<html>
  <body>
   <form name ="Verify Product Id" method="post">
        
    <b><font size="6">Updating Product:</font></b>
  <p><b>Please enter the Product Id of the product you'd like to update:</b></p>
  
   <fieldset><legend><b>Available Products:</b></legend>
	
</fieldset>
   <br>
   	<fieldset><legend><b>Verify ID:</b></legend>
      Product ID: <br> <input type="number" name="p_id" placeholder="12345" required>
      <button type="submit">Verify</button>
    </fieldset> <br>    
  	</form>
  </body>
</html>